<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fixed</title>
    <link href="style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <header class="header">Header</header>

    <main class="main"> Main
        <div class="js-main-block">Fixed block</div>
        <div class="main-box">
            <div class="main-box__block main-box__block1">Block1</div>
            <div class="main-box__block main-box__block2">Block2</div>
            <div class="main-box__block main-box__block3">Block3</div>

            <div class="main-box__block main-box__block1">Block1</div>
            <div class="main-box__block main-box__block2">Block2</div>
            <div class="main-box__block main-box__block3">Block3</div>

            <div class="main-box__block main-box__block1">Block1</div>
            <div class="main-box__block main-box__block2">Block2</div>
            <div class="main-box__block main-box__block3">Block3</div>

            <div class="main-box__block main-box__block1">Block1</div>
            <div class="main-box__block main-box__block2">Block2</div>
            <div class="main-box__block main-box__block3">Block3</div>

            <div class="main-box__block main-box__block1">Block1</div>
            <div class="main-box__block main-box__block2">Block2</div>
            <div class="main-box__block main-box__block3">Block3</div>
        </div>
    </main>
    
    <footer class="footer">Footer</footer>
</body>

</html>
